* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  body {
    background: #333;
    color: hsl(0, 0%, 100%);
    max-width: 400px;
    padding: 1rem;
    margin: 0 auto;
  }



  .new-item-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }

  .btn {
    background: hsl(200, 100%, 50%, 0.1);
    border: 1px solid hsl(135, 70%, 47%);
    color: hsl(119, 100%, 50%);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
  }

  .btn:hover,
  .btn:focus-visible {
    background: hsl(200, 100%, 50%, 0.2);
  }

  .btn.btn-danger {
    background: hsl(0, 100%, 40%, 0.1);
    border: 1px solid hsl(0, 100%, 40%);
    color: hsl(0, 100%, 40%);
  }

  .btn.btn-danger:hover,
  .btn.btn-danger:focus-visible {
    background: hsl(0, 100%, 40%, 0.2);
  }

  .new-item-form input {
    outline: none;
    border: 1px solid hsl(0, 0%, 100%);
    background: hsl(0, 0%, 100%);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    color: hsl(200, 100%, 90%);
  }

  .new-item-form input:focus {
    border: 1px solid hsl(0, 0%, 0%);
  }

  .header {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .list {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    list-style: none;
  }

  .list li:has(input:checked) label {
    color: hsl(0, 0%, 100%);
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .list li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .list li label {
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
    align-items: center;
  }

  .list li:has(input:focus-visible) label {
    outline: 1px solid hsl(200, 100%, 50%);
  }

  .list li input {
    outline: none;
    width: 0;
    height: 0;
    appearance: none;
    pointer-events: none;
    position: absolute;
  }

  .list li label::before {
    content: "";
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    background: hsl(200, 100%, 90%);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list li label:hover::before {
    background: hsl(200, 100%, 80%);
  }

  .list li:has(input:checked) label::before {
    content: "✔";
    background: hsl(200, 100%, 40%);
    color: hsl(200, 100%, 90%);
    font-size: 0.75rem;
    font-weight: bold;
  }

  .list li:has(input:checked) label:hover::before {
    background: hsl(200, 100%, 30%);
  }